<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="fs-small">Sample Text</div>
    <div class="fs-medium">Sample Text</div>
    <div class="fs-large">Sample Text</div>
    <div class="fs-xlarge">Sample Text</div>
    <div class="fs-xxlarge">Sample Text</div>
    
    <br>
    <br>

    <p>button으로 만든 사이즈 별 btn-fill, btn-outline</p>
    <button class="btn-small-fill">Button</button>
    <button class="btn-small-outline">Button</button>

    <button class="btn-medium-fill">Button</button>
    <button class="btn-medium-outline">Button</button>

    <button class="btn-large-fill">Button</button>
    <button class="btn-large-outline">Button</button>
    
    <br>
    <br>
    <p>input으로 만든 사이즈 별 btn-fill, btn-outline</p>
    <input class="btn-small-fill" type="button" value="Button"></input>
    <input class="btn-small-outline" type="button" value="Button"></input>

    <input class="btn-medium-fill" type="button" value="Button"></input>
    <input class="btn-medium-outline" type="button" value="Button"></input>

    <input class="btn-large-fill" type="button" value="Button"></input>
    <input class="btn-large-outline" type="button" value="Button"></input>
    
    <br>
    <br>

    <p>text input normal -> focus </p>
    <input class="text-input-small-normal" type="text" placeholder="Input Text"></input> 
    <input class="text-input-medium-normal" type="text" placeholder="Input Text"></input> 
    <input class="text-input-large-normal" type="text" placeholder="Input Text"></input> 

    <br>
    <br>
    <p>text input error </p>
    <input class="text-input-small-error" type="text" placeholder="Error State"></input> 
    <input class="text-input-medium-error" type="text" placeholder="Error State"></input> 
    <input class="text-input-large-error" type="text" placeholder="Error State"></input> 

    <br>
    <br>
    <p>prof-box</p>
    <div class="prof-box">
        <img src="./profile.png"></img>
        <span>major / name</span>
    </div>
</body>
</html>
