.fs-small{
    font-size: small;
}
.fs-medium{
    font-size: medium;
}
.fs-large{
    font-size: large;
}
.fs-xlarge{
    font-size: x-large;
}
.fs-xxlarge{
    font-size: xx-large;
}

.btn-small-fill{
    font-size: small;
    height: 34px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #6558F5;
    color: white;
    vertical-align: middle;
}
.btn-medium-fill{
    font-size: medium;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #6558F5;
    color: white;
    vertical-align: middle;
}
.btn-large-fill{
    font-size: large;
    height: 48px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #6558F5;
    color: white;
    vertical-align: middle;
}

.btn-small-outline{
    font-size: small;
    height: 34px;
    border: solid 2px #c7c3fb;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #6558F5;
    vertical-align: middle;
}
.btn-medium-outline{
    font-size: medium;
    height: 40px;
    border: solid 2px #c7c3fb;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #6558F5;
    vertical-align: middle;
}
.btn-large-outline{
    font-size: large;
    height: 48px;
    border: solid 2px #c7c3fb;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: #6558F5;
    vertical-align: middle;
}
/* text-input-small-normal */
.text-input-small-normal{
    font-size: small;
    font-weight: bold;
    height: 34px;
    border: 2px solid #c4d0d9;
    border-radius: 4px;
    color : #4b5d6c;
    padding-left: 12px;
}
.text-input-small-normal::placeholder{
    color: #c4d0d9;
}   
.text-input-small-normal:focus{
    outline: none !important;
    border-color: #6558F5;
}   

/* text-input-medium-normal */
.text-input-medium-normal{
    font-size: medium;
    font-weight: bold;
    height: 40px;
    border: 2px solid #c4d0d9;
    border-radius: 4px;
    color : #4b5d6c;
    padding-left: 12px;
}
.text-input-medium-normal::placeholder{
    color: #c4d0d9;
}   
.text-input-medium-normal:focus{
    outline: none !important;
    border-color: #6558F5;
}   

/* text-input-large-normal */
.text-input-large-normal{
    font-size: large;
    font-weight: bold;
    height: 48px;
    border: 2px solid #c4d0d9;
    border-radius: 4px;
    color : #4b5d6c;
    padding-left: 12px;
}
.text-input-large-normal::placeholder{
    color: #c4d0d9;
}   
.text-input-large-normal:focus{
    outline: none !important;
    border-color: #6558F5;
}   


/* text-input-small-error */
.text-input-small-error{
    font-size: small;
    font-weight: bold;
    height: 34px;
    border: 2px solid #D3455B;
    border-radius: 4px;
    color : #4b5d6c;
    padding-left: 12px;
}
.text-input-small-error::placeholder{
    color: #c4d0d9;
}   
.text-input-small-error:focus{
    outline: none !important;
    border-color: #6558F5;
}  

/* text-input-medium-error */
.text-input-medium-error{
    font-size: medium;
    font-weight: bold;
    height: 40px;
    border: 2px solid #D3455B;
    border-radius: 4px;
    color : #4b5d6c;
    padding-left: 12px;
}
.text-input-medium-error::placeholder{
    color: #c4d0d9;
}   
.text-input-medium-error:focus{
    outline: none !important;
    border-color: #6558F5;
}   

/* text-input-large-error */
.text-input-large-error{
    font-size: large;
    font-weight: bold;
    height: 48px;
    border: 2px solid #D3455B;
    border-radius: 4px;
    color : #4b5d6c;
    padding-left: 12px;
}
.text-input-large-error::placeholder{
    color: #c4d0d9;
}   
.text-input-large-error:focus{
    outline: none !important;
    border-color: #6558F5;
}


.prof-box{
    display: flex;
    align-items: center;
}
.prof-box img{
    width: 36px;
    height: 36px;
    border-radius: 20px;
}
.prof-box span{
    text-indent: 10px;
}
